* {
    margin:0;
    padding:0;
    border: none;
}

/* Header */

#header{
    height:200px;
    background-color: rgb(75, 75, 75);
    color: #ff7b00;
    padding-top:50px;
    padding-bottom:20px;
}

#title {
    text-align: center;
    font-size:350%;
    font-style: italic;
    padding-top:20px;
}

#menu {
    margin-top:100px;
    text-align: center;
}

#menu, #title {
    line-height:30px;
}

#menu li {
    display: inline;
    list-style-type: none;
    margin-right:30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-size: 150%;
   
}

#menu a:hover {
    border-bottom:1px solid white;
    font-size:160%;
}

/* Main picture  */

#pic-1 {
    background:url('../images/1.jpg') no-repeat center center;
    background-color: black;
    height:700px;
    width:100%;
    color: transparent;
    padding-top:20px;
    animation-name: section1-zoom;
    animation-duration:5s;
    animation-fill-mode: forwards;
}

@keyframes section1-zoom {
    from{
        transform:scale(0.9);
    }
    to{
        transform:scale(1);
    }
 }

body{
    background-color:
}

/* footer */

footer {
    height:220px;
 }

.social {
    text-align: center;
}

.social li {
    display: inline;
}

.social i {
    font-size:300%;
    margin:1%;
    padding:3%;
    color:#ff7b00;
}

i:hover {
    background-color:#ff7b00;
    color: white;
}