* {
    margin:0;
    padding:0;
    border: none;
    background-color: #252525;
}

/* Header */

#header{
    color: #ff7b00;
    padding-top:50px;
    padding-bottom:50px;
}

h1{
    text-transform: uppercase;
    letter-spacing: 4px;
    
}
#logo {
    font-size:350%;
    float:left;
    margin-left:30px;
    color: #ff7b00;
    
}

#menu {
      text-align: center;
      letter-spacing: 4px;
}

#menu, #logo {
    line-height:0px;
}
/* to revers order of the nav  bar */
nav{
    float: right;
   
}

#menu li {
    float:left;
    list-style-type: none;
    margin-right:50px;
    
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-size: 150%;
    
}

#menu a:hover {
    border-bottom:1px solid #ff7b00;
      text-shadow: 0 0 8px #ff7b00;
   }


/* Main picture  */

#pic-1 {
    background:url('../images/1.jpg') no-repeat center center;
    height:700px;
    width:100%;
    background-color: #252525;
    padding-top:20px;

    /* animation zoom for when page is loading*/
 
    animation-name: section1-zoom;
    animation-duration:5s;
    animation-fill-mode: forwards;
}

/* level of zoom */

@keyframes section1-zoom {
    from{
        transform:scale(0.9);
    }
    to{
        transform:scale(1);
    }
 }

body{
    background-color:
}

/* footer */

footer {
    height:100px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
 }

.social {
    text-align: center;
}

.social li {
    display: inline;
}

.social i {
    font-size:300%;
    margin:1%;
    padding:1%;
    color:#ff7b00;
    border-radius: 50%;
}

i:hover {
    background-color:#ff7b00;
    color:#252525;;
}